
.container{
    background-color: #e9ecef;
    height: 100%;
} 
input{
    border-radius: 3px;
}
@media (min-width: 768px) {
.custom-control{
    padding-top: 2.3rem;
}}
.display-8{
    font-weight: 600;
}
.col-sm-12{
    margin-top: -3vh;
}

.toast {
    position: absolute;
    top: 4rem;
    right: 1rem;
    min-width: 250px;
}

.toast.success {
    color: white;
    background-color: #4BB543;
}

.toast.error {
    color: white;
    background-color: red;
}

.productList{
    display: inline grid;
    grid-template-areas:
    'hd hd'
    'tb tb';
    width:82.5%;
    background-color: #e9ecef;
    margin-left :8.75%;


}

.productList > h1 {
    grid-area: hd;

}

.productList > table {
    padding: 1em;
    margin: 3em;
    grid-area: tb;
    width: 100%;
}




